#######################################
# Syntax Coloring Map For UAVObjects
#######################################

#######################################
# Datatypes (KEYWORD1)
#######################################

#######################################
# Methods and Functions (KEYWORD2)
#######################################

UAVObjectsInitializeAll	KEYWORD2
UAVObjInitializeByID	KEYWORD2

#######################################
# Instances (KEYWORD2)
#######################################

#######################################
# Constants (LITERAL1)
#######################################


